/target/
/desktop.ini
/src/main/resources/reference/main.css
/.idea/dataSources.local.xml
/.idea/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/shelved.patch
