/target/
/desktop.ini
/src/main/resources/reference/main.css
/key.txt
/.idea/jarRepositories.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_9_10_2021_4_26_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_9_10_2021_12_41_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_9_10_2021_12_42_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_9_10_2021_12_44_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_9_10_2021_4_26_PM__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_9_10_2021_12_41_PM__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_9_10_2021_12_42_PM__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_9_10_2021_12_44_PM__Default_Changelist_.xml
/.idea/shelf/
/src/main/java/fct/cs/orders/orderDetailController.java
/src/main/resources/fct/cs/order-details.fxml
