.side-VBox{
	-fx-background-color:#26232B;
}

.content-anchor{
	-fx-background-color:red;
}

.root{
	-fx-background-color: #FAFAFA;
}

.side-nav-button{
	-fx-background-color: transparent;
	-fx-background-radius: 9,8,5,4,3;
	
	
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
	-fx-alignment: center-left;
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
	
    -fx-background-insets: 0,0,0,0;
    -fx-padding: 0 0 0 15;
    -fx-focus-color: transparent;
   -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0);
}
#header_label{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
	-fx-alignment: center-left;
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
	-fx-padding: 10;
}
.side-nav-button:hover{
	-fx-background-color: #595B5D;
	
}

.content-vbox{
	-fx-background-color: #fff;
	
}

.holder-vbox{
	-fx-background-color: #EFEFEC;
}

.loaded-vbox{
	
}

/*
-fx-background-color: red;
	-fx-alignment: center;
	-fx-alignment: center;
	-fx-background-insets: 20px;
    -fx-background-radius: 20;
	-fx-alignment: center;
	-fx-padding: 20;
*/


/*
-fx-background-insets: 20px;
    -fx-background-radius: 20;
*/

/*
-fx-border-color: #121212;
    -fx-border-width: 2;
    -fx-border-radius: 5;

*/